@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f4f5f7;
    color: #111827;
    -webkit-font-smoothing: antialiased;
  }
  ::selection {
    background-color: #d1faec;
    color: #0f766e;
  }
}
